<div class="footer" id="footer">
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/?lang=es">
          <i class="icono fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/diana-cristal-leyva-ram%C3%ADrez-683937172/">
          <i class="icono fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://github.com/DiLeyRa">
          <i class="icono fa fa-github"> </i>
        </a>
      </li>
    </ul>
    <!-- Copyright -->
    <div class="marca footer-copyright text-center py-3">DianaLeyRa
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>