<div class="container" id="projects">
    <h1 class="titulo font-weight-bold">PROYECTOS</h1>
    <hr>
      <div class="w3-card-12">
          <div class="w3-display-container w3-text-white">
            <br>
            <br>
          </div>
          <div class="w3-row">
            <div class="w3-third w3-center">
                    <h3>API Movies</h3>
                    <br>
                <img src="https://raw.githubusercontent.com/DiLeyRa/DianaLeyRa/master/src/assets/images/movie.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                        <p class="card-text" style="text-align: custify"> Permite al usuario visualizar un catálogo de peliculas, donde se muestra una descripción como el año que se estreno la pelicula, el titulo y el poster.</p>
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://github.com/DiLeyRa/cdmx20181-Track-FE-themovieapi"><i class="icono fa fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/DiLeyRa/cdmx20181-Track-FE-themovieapi"><i class="icono fa fa-desktop"></i></a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="w3-third w3-center">
                    <h3>Sharing-Code</h3>
                    <br>
                <img src="https://raw.githubusercontent.com/DiLeyRa/DianaLeyRa/master/src/assets/images/red.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                        <p class="card-text" style="text-align: custify"> Se trata de una red social para programadores que permite compartir trabajos y experiencias con otros compañeros de profesión.</p>
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://github.com/DiLeyRa/red-social-angular"><i class="icono fa fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://dileyra.github.io/red-social-angular/register"><i class="icono fa fa-desktop"></i></a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="w3-third w3-center w3-margin-bottom">
                    <h3>Tic Tac Toe</h3>
                    <br> 
                <img src="https://raw.githubusercontent.com/DiLeyRa/DianaLeyRa/master/src/assets/images/gato.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                        <p class="card-text" style="text-align: custify"> Fue desarrollada usando Android Studio. Es un juego de dos jugadores: X y O, que marcan los espacios de un tablero de 3×3 alternadamente.</p>
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://github.com/DiLeyRa/TicTacToe"><i class="icono fa fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://appetize.io/app/yudjhrcey479fefyq99rzmjrmr"><i class="icono fa fa-desktop"></i></a>
                            </li>
                        </ul>
                    </div>
            </div>
          </div>
        </div>
</div>
