/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Philosopher|Trocchi");

.titulo{
    margin-top: 5em;
    text-align: center;
    font-family: 'Trocchi', serif;
    font-size: 20px;
    color:#111;
}
h3{
    font-family: 'Trocchi', serif;
    font-size: 20px;
}
.container{
    margin-top: 10em;
}
p{
    font-family: 'Philosopher', sans-serif;
    text-align: justify;
}
li{
    margin: 40px;
}
.icono{
    text-decoration: none;
    padding: 7px;
    font-weight: 300;
    font-size: 15px;
    color: rgb(248, 241, 241);
    background-color: #c83f71;
    border-radius: 6px;
    border: 2px solid #c83f71;
    margin-top: 1em;
    width: 2.5em;
}