<div class="row" id="profile">
  <div class="container">
      <h1 class="titulo2 font-weight-bold">ACERCA DE MÍ</h1>
      <hr>
      <div class="content">
          <img class="photo" style="float:left; margin-right:100px; margin-left: 100px" alt="" src="https://raw.githubusercontent.com/DiLeyRa/DianaLeyRa/master/src/assets/images/foto.jpg" />
      </div>

      <div class="container">
        <p style="margin-top: 4em;">
          Hola, mi nombre es Diana, soy Front End Developer e Ing. en Sistemas. Soy una persona comprometida, que gusta de aportar y contribuir al logro de los objetivos comunes, me agrada liderar proyectos, pues hacen que me enfrente a retos constantes, busco áreas de crecimiento que me permitan exponenciar habilidades y aptitudes en el ámbito profesional y personal.
        </p>
        <a href="assets/Diana-Leyva-CV.pdf" download="CV-Diana-Leyva"><i class="cv fa fa-file"> Ver CV</i></a>
        </div>
    </div>
</div>
